body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#data-container {
    width: 90%;
    display: flex;
    gap: 50px;
}

.data-block {
    width: 50%;
}

#messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#logs {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: #212121;
}
#messageInput {
    width: 90%;
    padding: 10px;
    margin-right: 5px;
}
button {
    padding: 10px 20px;
}